.containeNavbar{
    padding: 2rem;
    background-color: #ffffff; 
}

.menuContainerNavbar {
    display: flex;
    align-items: center;
}


.logoContainer{
    align-self: center;
    position: absolute;
}
