.artDetailContainer{
    margin: 3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}
.pricipalImage{
    width: 90vw;
}
.imageArt{
    width: 10rem;
}
.secondaryImageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-bottom: 2rem;
}
.descriptionArt{
    white-space: pre-line;
    line-height: 1.5rem;
}

@media (min-width:768px){
    .secondaryImageContainer{
        width: 90vw;
        flex-direction: row;
        justify-content: center;
        gap: 3rem;
    }
    .pricipalImage{
        height: 30rem;
        width: auto;
    }
    .lastImageArt{
        margin-top: 0;
        margin-left: 1rem;
        width: 10rem;
    }

    .imageArt{
        width: 10rem;
    }
}