@import '../../index.css';

.artDetailContainer {
    margin: 3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}

.pricipalImage {
    width: 90vw;
    margin-top: .5rem;
}

.imageArt {
    width: 10rem;
    cursor: pointer;
}

.secondaryImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-bottom: 2rem;
}
.centerLoading{
    align-content: center;
}

.descriptionArt {
    white-space: pre-line;
    line-height: 1.5rem;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(166, 166, 166, 0.861);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalImage {
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top: 20%;
}

.detailTtile{
    text-decoration: underline var(--turquesa) 5px;
    font-size: 2rem;
}
.detailTechnique{
    text-align: center;
}

.infoDetail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

/* .logoIsotipo{
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}  */

.prevButton, .nextButton {
    position: absolute;
    bottom: 15%;
    background: rgba(58, 58, 58, 0.5);
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 2rem;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 1000;
    cursor: pointer;
}

.prevButton {
    left: 1rem;
}

.nextButton {
    right: 1rem;
}

.crossCloseModal{
    font-size: 2rem;
    position: absolute;
    top: 10%;
    right: 5%;
    border-radius: 2rem;
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    cursor: pointer;
    background: rgb(58, 58, 58);
    color: #d4cdcd;
}

.soldContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.dispo{
    font-weight: bold;
    color: red;
}

.circleSold{
    height: 1.5rem;
    width: 1.5rem;
    background-color: red;
    border-radius: 50%;
}

.descriptionDetailContainer{
    white-space: pre-line;
}

.linkArtworkDetail, .goBackDetail{
    text-decoration: none;
    color: var(--azul-oscuro);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    cursor: pointer;
}

.goBackDetail{
    position: absolute;
    top: 14%;
    left: 5%;
}

@media (min-width: 769px) {
    .artDetailContainer{
        margin-top: 1rem;
    }
    .secondaryImageContainer {
        width: 80vw;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        margin-top: 1rem;
    }

    .pricipalImage {
        height: 30rem;
        width: auto;
    }

    .imageArt {
        width: 10rem;
    }

    .descriptionDetailContainer{
        width: 70vw;
        text-align: justify;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .prevButton, .nextButton{
        top: 50%;
        height: 5rem;
        border-radius: 1rem;
    }

    .modalImage {
        position: relative; 
        top: auto; 
        max-width: 90%;
        max-height: 90%;
    }

    .crossCloseModal{
        top: 2.7%;
        right: 2%;
    }
}

@media (min-width: 1200px) {
    .secondaryImageContainer{
        gap: 3rem;
    }
}