@import '../../index.css';

.artDetailContainer {
    margin: 3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}

.pricipalImage {
    width: 90vw;
}

.imageArt {
    width: 10rem;
    cursor: pointer;
}

.secondaryImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-bottom: 2rem;
}
.centerLoading{
    align-content: center;
}

.descriptionArt {
    white-space: pre-line;
    line-height: 1.5rem;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalImage {
    max-width: 90%;
    max-height: 90%;
}

.detailTtile{
    text-decoration: underline var(--turquesa) 5px;
    font-size: 2rem;
}
.detailTechnique{
    text-align: center;
}

.infoDetail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}


/* .logoIsotipo{
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}  */

@media (min-width: 769px) {
    .artDetailContainer{
        margin-top: 1rem;
    }
    .secondaryImageContainer {
        width: 80vw;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        margin-top: 1rem;
    }

    .pricipalImage {
        height: 30rem;
        width: auto;
    }

    .imageArt {
        width: 10rem;
    }

    .descriptionDetailContainer{
        width: 70vw;
        text-align: justify;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@media (min-width: 1200px) {
    .secondaryImageContainer{
        gap: 3rem;
    }
}