*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1.5;
}

html, body {
    height: 100%;
    width: 100%;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}

.content {
    flex: 1;
}
