:root{
    --turquesa: #75c5c5;
    --azul-oscuro: #005b82;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1.5;
}

body{
    overflow-x: hidden;
}

html{
    min-height: 100%;
    min-width: 100%;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}

.content {
    flex-grow: 1;
}

.notFoundPage{
    color: rgb(255, 7, 7);
    padding: 5rem 1rem;
    text-align: center;
}